
/*style to hide elements at start up*/
.question {
    display: none;
}
#finish-screen {
    display: none;
}

#out-of-time {
    display: none;
}

li
{
    margin: 5px;
}

#submit-score
{
    margin: 5px;
}

#input-initials
{
    width: 150px;
}